
@model System.Data.DataTable

@{
    ViewBag.Title = "ListOfCategory";
}

<p id="test2">
   
</p>
<p>
   
</p>
<table id="tblcategory">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />


@section Scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>  
  <script src="~/Javascript file/Category.js"></script>
   

}



