@model System.Data.DataTable
<p>

</p>
<p>

</p>
<table id="tblProduct">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category ID</th>
            <th> Category Name</th>
            <th> Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Javascript file/Product.js"></script>

}
